/* import */
/* font-family: 'Oswald', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap'); 

html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
}

/* navbar */
.navbar {
    background-color: #1B2430;
}

.nav-link {
    margin-bottom: 3px;
    transition: ease 100ms;
}

.nav-link:hover {
    margin-bottom: 0;
    border-bottom: 3px solid #D6D5A8;
    transition: ease 150ms;
}

/* content */

header, section, footer {
    height: 100vh;
}

header {
    background-color: #51557E;
}