/* import */
/* font-family: 'Oswald', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap'); 
@import url('https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&display=swap');

html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
}

/* navbar */
.navbar {
    background-color: #222831;
}

.nav-link {
    margin-bottom: 3px;
    transition: ease 100ms;
}

.nav-link:hover {
    margin-bottom: 0;
    border-bottom: 3px solid #00ADB5;
    transition: ease 150ms;
}

/* content */

header, section {
    min-height: 100vh;
    padding-top: 20px;
}

header {
    background-color: #EEEEEE;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Kdam Thmor Pro', sans-serif;
}

section#profile {
    background-color: #393E46;
}

section#edu {
    background-color: #EEEEEE;
}

.edu-img {
    height: 30vh;
}

.edu-text {
    margin-top: 20px;
}

section#skill {
    background-color: #393E46;
}

.skill-img {
    height: 30vh;
}

section#test-project {
    background-color: #EEEEEE;
}

footer {
    background-color: #00ADB5;
}

#social .fa-brands {
    color: black;
}

#social-nav .fa-brands {
    color: white;
}