/* import */
/* font-family: 'Oswald', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap'); 

* {
    margin: 0;
    padding: 0;
}

.header {
    height: 100vh;
    background-image: linear-gradient(rgba(241, 122, 75, 0.5), rgba(0, 0, 100, 0.63)), url('../assets/bg.png');
    background-size: cover;
}

.content {
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title {
    margin-top: 200px;
    font-size: 1.25rem;
    line-height: 1;
    text-shadow: 2px 2px black;
    color: white;
    background: rgba(138, 138, 138, 0.658);
    padding: 25px;
    text-align: center;
    font-family: 'Oswald', sans-serif;
}

