* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

marquee {
    background-color: pink;
    margin: 2vh 2vw;
    font-size: 1.5rem;
}

h2 {
    text-align: center;
    margin: 1vh 0;
}

img {
    display: block;
    height: 75vh;
    margin: 1vh auto;
}